<h1 class="text-3xl">
  Precios del servicio
</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, voluptatum molestias, fugiat animi necessitatibus minus sint quo deserunt quisquam quod eveniet voluptate minima nam magnam, cupiditate asperiores! Quasi, magni corporis?
    Animi deleniti laudantium consectetur expedita illum! Consequatur ad laudantium corrupti libero iure odio neque error id, aut, nulla porro nisi nemo accusamus. Quasi reprehenderit obcaecati nam, harum aliquam cumque error!
    Delectus iste, obcaecati repudiandae mollitia a eos. Tempora officia dolorem nam, tempore deleniti aliquid cum minus iste nihil accusantium est neque quis doloremque suscipit eos vel tenetur eius aut iusto.
    Nemo ipsum debitis est fugit expedita id voluptatibus, repudiandae fuga error magni quo impedit voluptatum, reiciendis cumque. Amet in suscipit, quia vel vitae, consectetur deleniti mollitia architecto cum blanditiis autem!
  </p>
</section>
