<h1 class="text-3xl">
  Sobre la aplicación
</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam alias ipsa porro dignissimos ullam corporis dolor corrupti dolores earum nobis quibusdam esse eaque, sequi perspiciatis impedit ex aspernatur. Similique, consectetur?
    Molestiae nobis ullam, eum aspernatur rem sequi ab, magnam eaque reiciendis, sed nam facilis! Similique rerum nisi facilis deserunt aspernatur voluptatibus, consequatur magni sequi reprehenderit molestias eum ipsa quaerat natus?
    Nihil odit animi saepe temporibus corporis, quo doloribus quidem recusandae consequuntur necessitatibus aliquam inventore fuga nam voluptatem facilis dicta mollitia velit debitis est autem? Accusamus eaque repellendus quas commodi tempore!
    Delectus aperiam natus rem, doloribus, enim aspernatur nisi repellat reiciendis, expedita iste dolores obcaecati quo id quia repudiandae ipsum assumenda? Quos, quis ipsam voluptatem expedita asperiores soluta. A, numquam perferendis.
  </p>
</section>
